.container {
    padding: 10px calc(10%);
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.berita {
    width: 70%;
}

.berita a {
    text-decoration: none;
    color: #DC0000;
}

.judul-berita {
    color: #333;
}

.gambar-berita {
    width: 100%;
    height: auto;
    margin: 10px 0;
}

.tanggal-berita {
    font-size: 12px;
    color: #777;
}

.isi-berita {
    text-align: justify;
}

.baca-selengkapnya {
    color: #DC0000;
    text-decoration: none;
    font-weight: bold;
}

.voice-btn {
    font-size: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: transparent;
    color: #333;
}

.editor {
    font-size: 12px;
    color: #45b4f5;
}

.iklan-parent {
    width: 30%;
    position: sticky;
    top: 10px;
}

@media (max-width: 768px) {
    .container {
        display: block;
        padding: 10px;
    }

    .berita {
        border: none;
        padding: 0;
        width: 100%;
    }

}