.judul-berita {
    color: #333;
}

.gambar-berita {
    width: 100%;
    height: auto;
    margin: 10px 0;
}

.tanggal-berita {
    font-size: 12px;
    color: #777;
}

.isi-berita {
    text-align: justify;
}

.baca-selengkapnya {
    color: #DC0000;
    text-decoration: none;
    font-weight: bold;
}

.voice-btn {
    font-size: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: transparent;
    color: #333;
}

@media (max-width: 768px) {
    .berita {
        border: none;
    }
}
