.container-microweb {
    padding: 10px calc(8%);
    display: flex;
    gap: 5px;
}

.berita-microweb {
    width: 70%;
    padding: 10px;
}

.img-microweb {
    width: 300px;
    height: 250px;
    object-fit: contain;
}

.prestasi-terbaru {
    display: flex;
    gap: 5px;
    border-bottom: 1px solid #e5e7eb;
}

.prestasi-terbaru a {
    width: 50%;
    text-decoration: none;
}

.prestasi-lanjutan {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.prestasi-lanjutan > * {
  width: calc(50% - 8px);
}

.prestasi-lanjutan a {
    text-decoration: none;
}

.judul-unila-lanjutan {
    font-size: 14px;
    color: #000;
    font-weight: bold;
}

.deskripsi-unila-lanjutan {
    color: #797979;
    font-size: 14px;
    margin-top: 0;
}

.img-unila {
    width: 100%;
    object-fit: cover;
}

.judul-unila {
    margin: 0;
    font-size: 16px;
    color: #000;
    font-weight: bold;
}

.home a,
.Pendidikan a {
    display: flex;
    padding: 20px 0;
    gap: 10px;
    text-decoration: none;
    border-bottom: 1px solid #e5e7eb;
}

.judul {
    color: #000;
    font-weight: bold;
    font-size: 18px;
}

.info-microweb {
    display: flex;
    align-items: center;
    gap: 5px;
}

.tanggal {
    color: #797979;
}

.kategori {
    font-size: 12px;
    color: #DC0000;
}

.deskripsi {
    color: #797979;
    font-size: 15px;
}

.bener {
    padding: 10px calc(10%);
    margin-top: 10px;
}

.gif-tekno {
    width: 100%;
}

.iklan-microweb {
    margin-top: 10px;
}

.img-iklan-microweb {
    width: 100%;
}

.footer-microweb {
    max-width: 900px;
    margin: auto;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: inherit;
}

.logo-microweb {
    width: calc(100vh * 0.35);
}

.footer-left {
    text-align: justify;
    width: 50%;
}

.item-microweb {
    display: flex;
    padding: 20px 0;
    gap: 10px;
    text-decoration: none;
    border-bottom: 1px solid #e5e7eb;
}

.img-terbaru {
        width: 150px;
    object-fit: contain;
    height: 150px;
}

.judul-terbaru {
    font-size: 15px;
    color: #000;
}

@media (max-width: 768px) {
    .container-microweb {
        padding: 10px;
        display: block;
    }

    .img-microweb {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

    .berita-microweb {
        width: 100%;
        padding: 0;
    }

    .bener {
        padding: 10px;
    }
}