.container-microweb {
    padding: 10px calc(10%);
    display: flex;
    gap: 5px;
}

.berita-microweb {
    width: 70%;
    padding: 10px;
}

.img-microweb {
    width: 300px;
    height: 250px;
    object-fit: contain;
}

.home a,
.Pendidikan a {
    display: flex;
    padding: 20px 0;
    gap: 10px;
    text-decoration: none;
    border-bottom: 1px solid #e5e7eb;
}

.judul {
    color: #000;
    font-weight: bold;
    font-size: 18px;
}

.info-microweb {
    display: flex;
    align-items: center;
    gap: 5px;
}

.tanggal {
    color: #797979;
}

.kategori {
    font-size: 12px;
    color: #DC0000;
}

.deskripsi {
    color: #797979;
    font-size: 15px;
}

.bener {
    padding: 10px calc(12%);
    margin-top: 10px;
}

.gif-tekno {
    width: 100%;
}

.iklan-microweb {
    margin-top: 10px;
}

.img-iklan-microweb {
    width: 100%;
}

@media (max-width: 768px) {
    .container-microweb {
        padding: 10px;
        display: block;
    }

    .img-microweb {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

    .berita-microweb {
        width: 100%;
        padding: 0;
    }

    .bener {
        padding: 10px;
    }
}