.img-microweb {
    width: 300px;
    height: 250px;
    object-fit: contain;
}

.home a {
    display: flex;
    padding: 20px 0;
    gap: 10px;
    text-decoration: none;
    border-bottom: 1px solid #e5e7eb;
}

.home a p {
    color: #000;
    font-weight: bold;
}

.bener {
    padding: 10px calc(18%);
    margin-top: 10px;
}

.gif-tekno {
    width: 100%;
}