.container-microweb {
    padding: 10px calc(15%);
    display: flex;
    gap: 5px;
}

.berita-microweb {
    width: 70%;
    padding: 10px;
}

.img-microweb {
    width: 300px;
    height: 250px;
    object-fit: contain;
}

.home a {
    display: flex;
    padding: 20px 0;
    gap: 10px;
    text-decoration: none;
    border-bottom: 1px solid #e5e7eb;
}

.judul {
    color: #000;
    font-weight: bold;
    font-size: 20px;
}

.tanggal {
    color: #797979;
}

.bener {
    padding: 10px calc(18%);
    margin-top: 10px;
}

.gif-tekno {
    width: 100%;
}