html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-family: 'Montserrat', sans-serif;
}

.navbar-main {
    background-color: #fff;
    padding: 14px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1001;
}

.navbar-sub {
    position: sticky;
    top: 68px;
    z-index: 1000;
    background-color: #fff;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb;
}

.navbar-main .logo {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.logo-img {
    width: 160px;
    height: 40px;
    margin-right: 20px
}

.button-user {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar-main ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar-main ul li a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
}

.navbar-sub ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar-sub ul li a {
    color: #858181;
    text-decoration: none;
    font-size: 14px;
}

.langganan {
    background-color: #DC0000;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.login {
    border: 1px solid #000;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    display: flex;
    gap: 5px;
}

.login-mobile,
.menu-mobile {
    display: none;
}

.container {
    padding: 10px calc(15%);
    display: flex;
    gap: 5px;
}

.berita {
    width: 70%;
    border-right: 1px solid #e5e7eb;
    padding: 10px;
}

.card-berita {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.card {
    flex: 1;
    border: 1px solid #e5e7eb;
    overflow: hidden;
    cursor: pointer;
    background: #fff;
    transition: 0.2s;
    padding: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.card p {
    font-weight: bold;
    margin-bottom: 0;
}

.card-detail {
    margin-top: 15px;
    padding: 20px;
    border: 1px solid #e5e7eb;
    background: #ffffff;
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.detail-image {
    flex: 0 0 40%;
    height: 100%;
}

.detail-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detail-text {
    flex: 1;
    max-height: 300px;
    overflow-y: auto;
    padding-right: 10px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.detail-text::-webkit-scrollbar {
    display: none;
}

.detail-text h2 {
    margin: 0 0 10px;
}

.detail-text p {
    margin: 0;
    line-height: 1.6;
}

.iklan {
    padding: 20px;
    width: 30%;
}

.tagar {
    padding: 20px;
    border: 1px solid #e5e7eb;
}

.tagar p {
    font-size: 15px;
    color: #4d4d4d;
    font-weight: bold;
}

.detail-btn {
    border: none;
    text-decoration: none;
    font-weight: bold;
    color: #DC0000;
    background-color: transparent;
    font-size: 15px;
    padding: 0;
    margin-top: 10px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9998;

    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 24rem;
    height: 100vh;
    background: #fff;
    color: #000;
    box-sizing: border-box;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 9999;
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar-isi {
    padding: 0 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li a {
    color: #555555;
    border-bottom: 1px solid #e5e7eb;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 15px 0;
}

.sidebar ul li a i {
    margin-right: 5px;
}


.search-sidebar {
    padding: 15px 25px;
    border-bottom: 1px solid #e5e7eb;
    border-top: 1px solid #e5e7eb;
}

.search-input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #555555;
    outline: none;
    font-size: 14px;
}

.search-input:focus {
    border-color: #555555;
}

.info {
    padding: 20px 10px;
}

.info a {
    display: flex;
    padding: 20px 0;
    gap: 10px;
    text-decoration: none;
    border-bottom: 1px solid #e5e7eb;
}

.info a img {
    width: 150px;
    object-fit: contain;
    height: 150px;
}

.info a p {
    color: #000;
    font-weight: bold;
}

.info h4 {
    color: #DC0000;
    font-weight: bold;
    font-size: 12px;
}

.footer {
    background: #4f4f4f;
    background: radial-gradient(circle, rgba(79, 79, 79, 1) 0%, rgba(51, 51, 51, 1) 100%);
    color: #e5e7eb;
    font-size: 15px;
}

.footer-container {
    max-width: 900px;
    margin: auto;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.footer-left img {
    height: calc(100vh * 0.10);
}

.footer-center {
    display: grid;
    row-gap: 10px;
}


.footer-center a {
    color: #e5e7eb;
    text-decoration: none;
}

.footer-center a:hover {
    text-decoration: underline;
}

.footer-bottom {
    border-top: 1px solid #1e293b;
    padding: 20px;
    text-align: center;
    max-width: 900px;
    margin: auto;
}

.footer-bottom h4 {
    margin-bottom: 8px;
    font-size: 16px;
}

.footer-bottom p {
    color: #fff;
    margin: 5px 0;
    line-height: 1.6;
}

.footer-bottom small {
    color: #9ca3af;
}

.sosmed {
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
}

.sosmed a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

.sosmed a i {
    margin-right: 5px;
}

.has-sub {
  position: relative;
}

.sub-menu {
  display: none;
  position: absolute;
  background: #fff;
  padding: 10px;
  z-index: 999;
}

.has-sub:hover .sub-menu {
  display: block;
}

.sub-menu li {
  list-style: none;
}

.img-harian {
    width: 100%;
}

.iklan-showcase {
    padding: 10px calc(15%);
}

.iklan-image {
    width: 100%;
    border: 1px solid #000;
}

@media (max-width: 768px) {
    .container {
        display: block;
        padding: 10px;
    }

    .berita {
        padding: 0;
        width: 100%;
        border: none;
    }

    .card {
        padding: 0;
    }

    .iklan {
        display: none;
    }

    .logo ul {
        display: none;
    }

    .logo-img {
        width: 120px;
        height: 25px;
    }

    .button-user {
        gap: 10px;
    }

    .langganan {
        padding: 10px;
    }

    .login {
        display: none;
    }

    .login-mobile,
    .menu-mobile {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #000;
        font-size: 20px;
        gap: 5px;
    }

    .navbar-sub {
        justify-content: flex-start;
        padding: 12px 16px;
        gap: 16px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

    .navbar-sub::-webkit-scrollbar {
        display: none;
    }

    .navbar-sub {
        scrollbar-width: none;
    }

    .sosmed a{
        font-size: 13px;
    }

    .footer-left,
    .footer-center {
        display: none;
    }
}