html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-family: 'Montserrat', sans-serif;
}

/* Navbar 1 (Utama) */
.navbar-main {
    background-color: #fff;
    padding: 14px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 1001;
    /* paling atas */
}

/* Navbar 2 (Sekunder) */
.navbar-sub {
    position: sticky;
    top: 68px;
    /* ⬅ tepat di bawah navbar-main */
    z-index: 1000;

    background-color: #fff;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb;
}


.navbar-main .logo {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.logo-img {
    width: 150px;
    height: 40px;
    margin-right: 20px
}

.button-user {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar-main ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar-main ul li a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
}

.navbar-sub ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar-sub ul li a {
    color: #858181;
    text-decoration: none;
    font-size: 14px;
}

.langganan {
    background-color: #DC0000;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.login {
    border: 1px solid #000;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    display: flex;
    gap: 5px;
}

/* CARD LIST */
.container {
    padding: 10px calc(15%);
    display: flex;
    gap: 5px;
}

.berita {
    width: 70%;
    border-right: 1px solid #e5e7eb;
    padding: 10px;
}

.card-berita {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.card {
    flex: 1;
    border: 1px solid #e5e7eb;
    overflow: hidden;
    cursor: pointer;
    background: #fff;
    transition: 0.2s;
    padding: 10px;
}

.card img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.card h3 {
    font-size: 16px;
}

/* DETAIL */
.card-detail {
    margin-top: 15px;
    padding: 20px;
    border: 1px solid #e5e7eb;
    background: #ffffff;
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.detail-image {
    flex: 0 0 40%;
    height: 100%;
}

.detail-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detail-text {
    flex: 1;
    max-height: 300px;
    overflow-y: auto;
    padding-right: 10px;

    /* Firefox */
    scrollbar-width: none;

    /* Internet Explorer & Edge lama */
    -ms-overflow-style: none;
}

/* Chrome, Safari, Edge */
.detail-text::-webkit-scrollbar {
    display: none;
}

.detail-text h2 {
    margin: 0 0 10px;
}

.detail-text p {
    margin: 0;
    line-height: 1.6;
}

.iklan {
    padding: 10px;
    width: 30%;
}

.tagar {
    padding: 20px;
    border: 1px solid #e5e7eb;
}

.tagar p {
    font-size: 15px;
    color: #4d4d4d;
    font-weight: bold;
}

.detail-btn {
    border: none;
    font-weight: bold;
    color: #DC0000;
    background-color: transparent;
    font-size: 15px;
    padding: 0;
    margin-top: 10px;
    cursor: pointer;
}

/* Overlay background */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9998;

    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}

/* Overlay aktif */
.overlay.active {
    opacity: 1;
    visibility: visible;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 24rem;
    height: 100vh;
    background: #fff;
    color: #000;
    box-sizing: border-box;

    transform: translateX(-100%);
    transition: transform 0.3s ease;

    z-index: 9999;
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar-isi {
    padding: 0 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li a {
    color: #555555;
    border-bottom: 1px solid #aaa4a4;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 15px 0;
}

.sidebar ul li a i {
    margin-right: 5px;
}


.search-sidebar {
    padding: 15px 25px;
    border-bottom: 1px solid #aaa4a4;
    border-top: 1px solid #555555;
}

.search-input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #555555;
    outline: none;
    font-size: 14px;
}

.search-input:focus {
    border-color: #555555;
}

.info {
    padding: 20px 10px;
}

.info a {
    display: flex;
    padding: 20px 0;
    gap: 10px;
    text-decoration: none;
    border-bottom: 1px solid #e5e7eb;
}

.info a img {
    width: 30%;
    height: 30%;
}

.info a h3 {
    color: #000;
}

.info h4,
.info p {
    color: #DC0000;
    font-weight: bold;
}
