.widget-carousel{
  position:relative;
  width:100%;
  height:300px;
  overflow:hidden;
  perspective:1000px;
}

.widget-track{
  position:relative;
  width:100%;
  height:100%;
}

.widget-item{
  position:absolute;
  top:50%;
  left:50%;
  width:220px;
  height:220px;

  transform:translate(-50%,-50%) scale(0.65) rotateY(35deg);
  opacity:0;
  z-index:0;

  background:#fff;
  border-radius:16px;
  padding:15px;
  text-align:center;

  transition:all .6s cubic-bezier(.25,.8,.25,1);
  box-shadow:0 10px 25px rgba(0,0,0,.2);

  text-decoration:none;
  color:#000;

  overflow:hidden;

  display:flex;
  flex-direction:column;
  align-items:center;
}

/* 🔥 IMG DI TENGAH */
.widget-item img{
  width:55px;
  height:55px;
  object-fit:contain;
  display:block;
  margin:0 auto;
}

.widget-item h3{
  font-size:13px;
  line-height:1.4;
  margin-top:8px;
  text-align:center;
  display:-webkit-box;

}

.widget-item ul{
  padding-left:18px;
  margin-top:8px;
  text-align:left;
  width:100%;
  overflow-y:auto;
  max-height:110px;
  box-sizing: border-box;
}

.widget-item ul::-webkit-scrollbar{
  width:4px;
}
.widget-item ul::-webkit-scrollbar-thumb{
  background:#ccc;
  border-radius:10px;
}

.widget-item li{
  font-size:12px;
  line-height:1.4;
  margin-bottom:4px;
}

/* ANIMASI */
.widget-item.active{
  transform:translate(-50%,-50%) scale(1) rotateY(0);
  opacity:1;
  z-index:5;
}

.widget-item.next{
  transform:translate(calc(-50% + 180px),-50%) scale(.88) rotateY(-22deg);
  opacity:.9;
  z-index:4;
}

.widget-item.prev{
  transform:translate(calc(-50% - 180px),-50%) scale(.88) rotateY(22deg);
  opacity:.9;
  z-index:4;
}

.widget-item.next2{
  transform:translate(calc(-50% + 300px),-50%) scale(.75) rotateY(-30deg);
  opacity:.5;
}

.widget-item.prev2{
  transform:translate(calc(-50% - 300px),-50%) scale(.75) rotateY(30deg);
  opacity:.5;
}

.link-judul{
  text-decoration:none;
  color:#000;
  display:block;
  line-height:1.5;
}

.link-judul:hover {
    color: #DC0000;
}

.nav{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  background:#00000090;
  color:#fff;
  border:none;
  padding:10px 14px;
  cursor:pointer;
  border-radius:50%;
  z-index:10;
  transition:opacity .3s ease;
}

.prev{left:10px}
.next{right:10px}

.nav.hide{
  opacity:0;
  pointer-events:none;
}